/* Основные стили */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url(https://i.pinimg.com/originals/dc/34/fb/dc34fb7888202c8b7f4a1be202bfd380.jpg) no-repeat center center fixed;
    background-size: cover;
    color: whitesmoke;
}

/* Загрузочный экран */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader h1 {
    color: #d1cfcf;
    margin-bottom: 20px;
}

.spinner {
    border: 5px solid transparent;
    border-top: 5px solid #d1cfcf;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Заголовок */
.header {
    text-align: center;
    margin-top: 30px;
    color: #d1cfcf;
}

/* Соцсети */
.social-links {
    margin: 20px 0;
}

.social-links a {
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-links a:hover {
    transform: scale(1.2);
}

/* Список дат */
.date-list {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 20px auto;
    text-align: center; /* Выравнивание текста слева */
}

.date-list li {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    transition: background 0.3s ease;
}

.date-list li:hover {
    background: rgba(255, 255, 255, 0.39);
}

.date-list a {
    color: #d1cfcf;
    text-decoration: none;
    font-size: 1rem;
}

.date-list a:hover {
    color: black;
}
